body{
    font-family: 'Poppins', sans-serif; 
    margin: 0;
} 
.main-banner{
    display: flex; 
    padding-top: 30px;
}  
.skip{
    color: orange;
}
h1{
    font-size: 60px; 
   
} 
p{
    font-size: 20px;
}
.half{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 30px;
} 

.half img{
    width: 90%;
} 
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 15px 30px; 
    border-radius: 20px; 
    color: rgb(61, 8, 177); 
    font-weight: 700;
}   

.banner{
    background-image: url(eat-healthy-main/images/shapes/7.png); 
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
     
    
} 
.img{
     width: 50%;
     margin-left: 20%;
    
}  
.one-half{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 30px
}
.about{
    color: gray; 
    font-size: 50px;
}
.contact{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 20px 40px; 
    border-radius: 30px;
    color: rgb(110, 15, 225); 
    font-weight: 700;

} 
.para{
    padding-bottom: 80px;
} 
.recipy{
    text-align: center;
}
.recipy-two{
    color: gray; 
    font-size: 50px;
}